{% load static %}

<!DOCTYPE html>
<html class="no-js">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Lecture Room Allocator</title>
        {% endif %}
        <meta name="description" content="Room Allocator">
        <meta name="author" content="primU">
        <meta name="keyword" content="Room allocator">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
        
        {% if form_media.css %}
            {{ form_media.css }}
        {% endif %}

        {{ form.media }}
        <!-- Place favicon.ico  the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="{% static "allocator/css/assets/css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "allocator/css/assets/css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "allocator/css/assets/css/fontello.css" %}">
        <link href="{% static "allocator/css/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" %}" rel="stylesheet">
        <link href="{% static "allocator/css/assets/fonts/icon-7-stroke/css/helper.css" %}" rel="stylesheet">
        <link href="{% static "allocator/css/assets/css/animate.css" %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static "allocator/css/assets/css/bootstrap-select.min.css" %}"> 
        <link rel="stylesheet" href="{% static "allocator/css/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "allocator/css/assets/css/icheck.min_all.css" %}">
        <link rel="stylesheet" href="{% static "allocator/css/assets/css/price-range.css" %}">
        <link rel="stylesheet" href="{% static "allocator/css/assets/css/owl.carousel.css" %}">  
        <link rel="stylesheet" href="{% static "allocator/css/assets/css/owl.theme.css" %}">
        <link rel="stylesheet" href="{% static "allocator/css/assets/css/owl.transitions.css" %}">
        <link rel="stylesheet" href="{% static "allocator/css/assets/css/style.css" %}">
        <link rel="stylesheet" href="{% static "allocator/css/assets/css/responsive.css" %}">
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->


        <div class="header-connect">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-8  col-xs-12">
                        <div class="header-half header-call">
                            <p>
                                <span><i class="pe-7s-call"></i> +1 256 567 7890</span>
                                <span><i class="pe-7s-mail"></i> rooms@kab.ac.ug</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                        <div class="header-half header-social">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-globe"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>         
        <!--End top header -->

        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url "allocator:home" %}"><img src="assets/img/logo.png" alt=""></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">
                        <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.open('register.html')" data-wow-delay="0.4s">Login</button>
                        <button class="navbar-btn nav-button wow fadeInRight" onclick=" window.open('submit-property.html')" data-wow-delay="0.5s">Submit</button>
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                            <a href="{% url "allocator:home" %}" class="active">Home</a>
                        </li>

                        <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="{% url "allocator:rooms" %}">Rooms</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="{% url "allocator:timetable" %}">Timetable</a></li>
                        <li class="dropdown yamm-fw" data-wow-delay="0.1s"><a href="{% url "allocator:allocations" %}">Allocations</a></li>

                        <li class="wow fadeInDown" data-wow-delay="0.4s"><a href="contact.html">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->


        {% block content %}
        
        {% endblock content %}

        <div class="footer-area">

            <div class=" footer">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>About us </h4>
                                <div class="footer-title-line"></div>

                                <img src="assets/img/footer-logo.png" alt="" class="wow pulse" data-wow-delay="1s">
                                <p>Lorem ipsum dolor cum necessitatibus su quisquam molestias. Vel unde, blanditiis.</p>
                                <ul class="footer-adress">
                                    <li><i class="pe-7s-map-marker strong"> </i> 9089 your adress her</li>
                                    <li><i class="pe-7s-mail strong"> </i> email@yourcompany.com</li>
                                    <li><i class="pe-7s-call strong"> </i> +1 908 967 5906</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>Quick links </h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-menu">
                                    <li><a href="{% url "allocator:timetable" %}">Timetable</a>  </li> 
                                    <li><a href="{% url "allocator:allocations" %}">Allocations</a>  </li> 
                                    <li><a href="#">Contact us</a></li> 
                                    <li><a href="#">FAQs</a>  </li> 
                                    <li><a href="#">Terms </a>  </li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>Trending</h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-blog">
                                    <li>
                                        <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                            <a href="single.html">
                                                <img src="assets/img/demo/small-proerty-2.jpg">
                                            </a>
                                            <span class="blg-date">12-12-2016</span>

                                        </div>
                                        <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                            <h6> <a href="single.html">Add news functions </a></h6> 
                                            <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                        </div>
                                    </li> 

                                    <li>
                                        <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                            <a href="single.html">
                                                <img src="assets/img/demo/small-proerty-2.jpg">
                                            </a>
                                            <span class="blg-date">12-12-2016</span>

                                        </div>
                                        <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                            <h6> <a href="single.html">Add news functions </a></h6> 
                                            <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                        </div>
                                    </li> 

                                    <li>
                                        <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                            <a href="single.html">
                                                <img src="assets/img/demo/small-proerty-2.jpg">
                                            </a>
                                            <span class="blg-date">12-12-2016</span>

                                        </div>
                                        <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                            <h6> <a href="single.html">Add news functions </a></h6> 
                                            <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                        </div>
                                    </li> 


                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer news-letter">
                                <h4>Talk to Us</h4>
                                <div class="footer-title-line"></div>
                                <p>Lorem ipsum dolor sit amet, nulla  suscipit similique quisquam molestias. Vel unde, blanditiis.</p>

                                <form>
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="E-mail ... ">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </form> 

                                <div class="social pull-right"> 
                                    <ul>
                                        <li><a class="wow fadeInUp animated" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                                    </ul> 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <span> (C) <a href="#">lectureroomallocator</a> , All rights reserved 2024  </span> 
                        </div> 
                        <div class="bottom-menu pull-right"> 
                            <ul> 
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Home</a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Rooms</a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Faq</a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contact</a></li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="{% static "allocator/js/assets/js/modernizr-2.6.2.min.js" %}"></script>

        <script src="{% static "allocator/js/assets/js/jquery-1.10.2.min.js" %}"></script>
        <script src="{% static "allocator/js/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "allocator/js/assets/js/bootstrap-select.min.js" %}"></script>
        <script src="{% static "allocator/js/assets/js/bootstrap-hover-dropdown.js" %}"></script>

        <script src="{% static "allocator/js/assets/js/easypiechart.min.js" %}"></script>
        <script src="{% static "allocator/js/assets/js/jquery.easypiechart.min.js" %}"></script>

        <script src="{% static "allocator/js/assets/js/owl.carousel.min.js" %}"></script>        

        <script src="{% static "allocator/js/assets/js/wow.js" %}"></script>

        <script src="{% static "allocator/js/assets/js/icheck.min.js" %}"></script>
        <script src="{% static "allocator/js/assets/js/price-range.js" %}"></script>

        <script src="{% static "allocator/js/assets/js/main.js" %}"></script>
      
    </body>
</html>